/* Creamos Variables en CSS con :root */
:root{
    --orange: #d95550;
    --lightOrange: #dd6662;
    --veryLightOrange: #f89e8b;
    --gray: #55557b;
    --white: #fff;
}

/*Configuramos de forma universal con un * */
*{
    margin: 0px;
    padding: 0px;
}

/*Configuramos la etiqueta body y usamos las variables creadas previamente */
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    background-color: var(--orange);
}

.logo{
    width: 100px;
    position: absolute;
    top: 0px;
    right: 30px;
}

h1{
    margin-top: 200px;
    color: var(--white);
    text-align: center;
}

form{
    width: 400px;
    margin: 45px auto;
    text-align: center;
}

/* Le coloca color de fondo al textbox y a la letra le coloca color blanco */
form input[type="text"]{
    background-color: var(--orange);
    color: var(--white);
    border-style: none;
    font-size: 1.5em;
}

/* Le cambia el color al placeholder del textbox */
form input[type="text"]::placeholder{
    color: var(--veryLightOrange);
}

/* El contorno del textbox cuando está en foco lo quitamos */
form input[type="text"]:focus{
    outline: none;
}